@page
@model Shooting.Pages_Loads.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>LoadData</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LoadData.LoadName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LoadData.LoadName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LoadData.Projectile)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LoadData.Projectile)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LoadData.ProjectileWeight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LoadData.ProjectileWeight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LoadData.Propellent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LoadData.Propellent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LoadData.PropellentWeight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LoadData.PropellentWeight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LoadData.Primer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LoadData.Primer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LoadData.Chamber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LoadData.Chamber.ChamberName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="LoadData.LoadID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
